/* Estilização Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

h1 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

/* Formulário */
label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: 2px solid #007BFF;
  outline-offset: 2px;
}

/* Botões */
button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

/* Grupo de Botões */
.button-group {
  margin-top: 20px; /* Adiciona espaçamento acima dos botões */
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
  justify-content: space-between;
}

/* Ajuste de espaçamento entre os botões */
.form-step button {
  margin-top: 10px; /* Adiciona um espaço acima dos botões */
}

.btn-secondary {
  margin-right: 10px; /* Adiciona espaçamento entre os botões "Voltar" e "Próximo" */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Ajuste no checkbox*/

.checkbox-group {
  display: flex;
  align-items: center; /* Alinha os itens horizontalmente */
  margin-bottom: 5px;
}

.checkbox-group label {
  margin-right: 10px;
  margin-bottom: 0;
}

.checkbox-group input[type="checkbox"] {
  align-self: center; /* Alinha o checkbox verticalmente ao centro */
  margin-top: 10px; 
}

/* O input de texto não precisa de estilos específicos para ficar abaixo,
 pois ele já está fora do flex container .checkbox-group */

 /* Ajuste da Data Acionamento e SLA */
 .data-sla-container {
  display: flex;
  justify-content: space-between; /* Ou space-around, space-evenly, dependendo do espaçamento desejado */
  align-items: center; /* Alinha os itens verticalmente */
}

.data-sla-item {
  flex: 1; /* Permite que os itens ocupem o espaço disponível igualmente */
  margin-right: 10px; /* Adiciona um espaçamento entre os itens */
}

.data-sla-item:last-child {
  margin-right: 0; /* Remove a margem do último item */
}

/* Ajuste do horario de funcionamento */
.horario-funcionamento-container {
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
}

.horario-inputs {
  display: flex; /* Organiza os campos de hora e textos horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
}

.horario-label {
  margin-left: 5px;
  margin-right: 5px;
}

.horario-inputs input[type="time"] {
  margin-right: 10px;
}

/* Ajuste do agendamento do chamado */
.agendamento-container {
  display: flex;
  flex-direction: column;
}

.agendamento-header {
  display: flex; /* Organiza o título e a data horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
}

.agendamento-header label {
  margin-right: 10px; /* Adiciona um espaçamento entre o título e a data */
}

.agendamento-tipo-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.agendamento-tipo-container div {
  display: flex;
  align-items: center;
}

.agendamento-tipo-container label {
  margin-left: 5px;
  margin-right: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding-top: 60px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form-step {
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

/* Fechar o botão */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Exibição do Resultado */
.resultado-texto {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 16px;
}

/* Ajuste para Telas Menores */
@media (max-width: 480px) {
  h1 {
      font-size: 18px;
  }

  input[type="text"],
  select,
  button {
      font-size: 12px;
      padding: 8px;
  }

  .container {
      width: 100%;
      margin: 10px;
      padding: 10px;
  }
}